body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.hero {
  background-image: url('assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.hero-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.hero-avatar {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.hero-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

.hero-container p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.contact-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-button:hover {
  background-color: #333;
}

/*     2nd div     */
.second-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.second-container-title {
  text-align: center;
  margin-bottom: 40px;
}

.second-container-title h1 {
  font-size: 2em;
}

.second-container-title p {
  color: #777;
}

.target {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  justify-content: space-between;
}

.target img {
  width: 300px;
  height: auto;
  margin-left: 20px;
}

.target-content {
  flex-grow: 1;
  margin: 20px;
}

.target-content h2 {
  margin: 0 0px 10px 0px;
  font-size: 1.5em;
}

.target-content p {
  color: #777;
}

.learn-more {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #3498db;
  padding: 10px 20px;
  border-radius: 5px;
}

.learn-more:hover {
  background-color: #3498db;
  color: white;
}
/* 3rd div */
.My-Inspiration {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.My-Inspiration-container h2 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
}
.My-Inspiration-container p {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}
.video-container {
  justify-content: center;
  align-items: center;
}
.video-container iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 4th div */
.My-Current-Target {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* .My-Current-Target-container {
  text-align: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
} */
.My-Current-Target-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.My-Current-Target-container p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}
.card img {
  width: 50px;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
.card:nth-child(1) {
  background-color: #fdf2f2;
}
.card:nth-child(2) {
  background-color: #f2f8ff;
}
.card:nth-child(3) {
  background-color: #fff9e6;
}
/* 6th div */
.support-section {
  background-image: url('assets/handshake.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  text-align: center;
  border-radius: 15px;
  color: white;
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.support-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  z-index: 0;
}

.support-section h1 {
  font-size: 2.5em;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 1;
}

.support-section p {
  margin: 0 0 30px 0;
  position: relative;
  z-index: 1;
}

.support-section .input-group {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.support-section input[type='text'] {
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
  font-size: 1em;
}

.support-section input[type='submit'] {
  padding: 15px 30px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
}

.support-section input[type='submit']:hover {
  background-color: #2980b9;
}
footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 0;
  color: #000;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}
